// Mixin para efeito de vidro (Glassmorphism)
@mixin glass-effect {
  background-color: rgba(246, 246, 246, 0.7);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

// Mixin para a estrutura base dos botões
@mixin btn-base {
  border-radius: 1.5rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  transition: all 0.3s ease;
}
