// ==== CORES ====
$ct-primary: #ffd400;
$ct-primary-container: #fed400;
$ct-secondary: #00c27a;
$ct-tertiary: #ff2d6f;
$ct-surface: #f6f6f6;
$ct-surface-low: #f0f1f1;
$ct-surface-lowest: #ffffff;
$ct-on-surface: #2d2f2f;
$ct-on-surface-variant: #5a5c5c;

// ==== TIPOGRAFIA ====
$bs-font-sans-serif: "Manrope", sans-serif;
$bs-font-heading: "Space Grotesk", sans-serif;
